
body {
	
}
header {
	background-color:#d6d6d6;
	border-bottom: 1px solid #000; 
	position: absolute;
	width:100%;
	
	
}

#leaderboard {
	background-color: #DCDCDC;
	position:absolute;
	margin-top:50px;
	left:25%;
	top:10%;
	width:50%;
	border:2px solid black;
}

.roomate {
	float:left;
	border:1px solid black;
	color:black;
	width:20%;
	margin-left:10px;
	margin-top:10px;
	
}
.roomate span{
	
	display:block;
	
}

.roomate span img{
	border:1px solid black;
	border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
    /*min-width: 100%;
    min-height: 100%;*/
    margin:10px 10px 10px 10px;
}

button {
	float: right;
	position:relative;
	bottom:40px;
	right:20px;
}
