
body {
	
}
header {
	background-color:#d6d6d6;
	border-bottom: 1px solid #000; 
	position:absolute;
	top:0px;
	left:30%;
	height:8%;
	width:40%;
} 

header p {
	position:absolute;
	font-family: cursive;
	font-size: 24px;
	font-weight:500px;
	left:50%;
	top:0%;
	


}


footer {
	position:absolute;
	bottom:0px;
	left:30%;
	height:5%;
	width:40%;
	border-top: 1px solid #000; 
	background-color:#d6d6d6;
}

#leaderboard {
	background-color: #DCDCDC;
	position:absolute;
	margin-top:50px;
	left:5%;
	right:10%;

	top:10%;
	
	padding-left:15%;
	
}



.roomate {
	float:left;
	
	display:inline;
	color:black;
	width:15%;
	margin-left:15px;
	margin-top:10px;
	margin-bottom:10px;

	

	
}
.roomate span{
	
	display:block;

	
}

.roomate span img{
	border:1px solid black;
	border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
    /*min-width: 100%;
    min-height: 100%;*/
    margin:10px 10px 10px 10px;
}

.mostRecentTask{

	font-size: 12px;
	width:100%;
	
}

.addTask{
	float: right;
	position:absolute;
	bottom:30px;
	right:20px;
	top:2px;
}

.logout {
	bottom:2px;
	right:25px;
}

#taskContainer {
	position:absolute;
	background-color: #DCDCDC;
	right:0%;
	bottom:0%;
	border:1px solid black;

}

 .hidden{
	visibility: hidden;
}

#daysLeft{
	float:left;
	position:absolute;
	bottom:5%;
	font-size:24px;
	font-weight:500px;
}
