
body {
	
}
header {
	background-color:#d6d6d6;
	border-bottom: 1px solid #000; 
	position:absolute;
	top:0px;
	left:0%;
	height:6%;
	width:100%;
} 

header p {
	position:absolute;
	font-family: cursive;
	font-size: 44px;
	left:50%
		border: 1px solid #000; 
}


footer {
	position:absolute;
	bottom:0px;
	left:30%;
	height:5%;
	width:40%;
	border-top: 1px solid #000; 
	background-color:#d6d6d6;
	text-align:center;
}

#leaderboard {
	background-color: #DCDCDC;
	position:absolute;
	margin-top:50px;
	left:5%;
	right:10%;

	top:10%;
	
	padding-left:15%;
	
}



.roomate {
	float:left;
	
	display:inline;
	color:black;
	width:15%;
	margin-left:15px;
	margin-top:10px;
	margin-bottom:10px;

	

	
}
.roomate span{
	
	display:block;

	
}

.roomate span img{
	border:1px solid black;
	border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
    /*min-width: 100%;
    min-height: 100%;*/
    margin:10px 10px 10px 10px;
}

.mostRecentTask{

	font-size: 12px;
	width:100%;
	
}

.addTask{
	float: right;
	bottom:30px;
	right:20px;
	top:2px;
}

.logout {
	float:left;
	bottom:2px;
	right:25px;
}

#taskContainer {
	position:absolute;
	background-color: #DCDCDC;
	right:0%;
	bottom:0%;
	border:1px solid black;
	top:60%;
	padding-top:15px;

}
.task {
	margin-top:20px;
}

 .hidden{
	visibility: hidden;
}

#daysLeft{
	float:left;
	position:absolute;
	bottom:5%;
	font-size:44px;
	
	font-family:cursive;
}

.logoImage{
	position:absolute;
	left:28%;
	top:10%;
	width:600px;
	opacity:.2;
}

#newTask{
	display:block;
}

#newTask input{
	width:100%;
}

#completedTasks{
	position:absolute;
	left:5%;
	top:50%;
	bottom:20%;
	width:25%;
	
	overflow: scroll;
	opacity:.5;

}
